.sudoku__level {
    height: 12vh;
    margin: 2vh auto;
    aspect-ratio: 5 / 1;
    border-radius: 100px;
    border: 1px solid rgba(white, .3);
}

.swiper-slide {
    font-size: 4vh;
    line-height: 12vh;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 1vh;
    width: 10vh;
    height: 10vh;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &.swiper-button-disabled {
        opacity: 0.3;
    }
}
.swiper-button-prev {
    left: 1vh;
}
.swiper-button-next {
    right: 1vh;
}