.sudoku__level {
    height: 12vh;
    margin: 2vh auto;
    aspect-ratio: 5 / 1;
    border-radius: 100px;
    border: 1px solid rgba(white, .3);
}

.swiper-slide {
    font-size: 4vh;
    line-height: 12vh;
}