.board-controls {
  padding: 10px 0;
  display: grid;
  gap: 7px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.board-controls__button {
  width: 50px;
  height: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .3);
  &.active {
    border-color: transparent;
    background-color: #CB550EFF;
  }
}

.board-controls__value {
  font-size: 1.7rem;
}

.board-controls__count {
  font-size: .7rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  line-height: 1;
  text-align: center;
}

.board-buttons {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  width: 100%;
  max-width: 278px;
}

.board-button {
  font-size: 0.7rem;
  width: 31%;
  height: 30px;
  flex-shrink: 1;
  border-radius: 15px;
  border: 1px solid rgba(white, 0.3);

  &:hover {
    border-color: transparent;
    background-color: #cb550e;
}
}