.board__controls {
  aspect-ratio: 7.5 / 2;
  height: 16vh;
  display: grid;
  gap: 5px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.board__control {
  overflow: hidden;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(255, 255, 255, .3);
  &.is-select {
    border-color: transparent;
    background-color: #CB550EFF;
  }
}

.board__value {
  font-size: 4.5vh;
}

.board__count {
  font-size: 2vh;
}

.board__helpers {
  height: 8vh;
  display: flex;
  justify-content: center;
}

.board__helper {
  aspect-ratio: 1;
  height: 8vh;
  margin: 0 2vh;
  flex-shrink: 1;
  border-radius: 100px;
  border: 1px solid rgba(white, 0.3);
  &:hover {
    border-color: transparent;
    background-color: #cb550e;
  }
}