.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  &__button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    font-size: 18px;
  }
  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: auto;
    font-size: clamp(10px, 5vh, 7vh);
    &.is-select, &.is-match {
      background-color: #CB550EFF;
    }
    &.is-error:not(.is-select) {
      background-color: #ce0505;
    }
    &.is-block {
      color: rgba(white, .8);
    }
  }
}