.board {
  aspect-ratio: 1;
  height: 60vh;
  display: grid;
  gap: 1px;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background-color: rgba(255, 255, 255, .3);
  background-image: linear-gradient(to bottom, transparent 0, transparent calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 + .5px), transparent calc(100% / 3 + .5px), transparent calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 - .5px), #cb550e calc(100% / 3 * 2 + .5px), transparent calc(100% / 3 * 2 - .5px), transparent 100%),
  linear-gradient(to right, transparent 0, transparent calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 + .5px), transparent calc(100% / 3 + .5px), transparent calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 + .5px), transparent calc(100% / 3 * 2 - .5px), transparent 100%);
}