.App {
  color: white;
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.board {
  display: grid;
  gap: 1px;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(9, 1fr);
  background-color: rgba(255, 255, 255, .3);
  background-image: linear-gradient(to bottom, transparent 0, transparent calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 + .5px), transparent calc(100% / 3 + .5px), transparent calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 - .5px), #cb550e calc(100% / 3 * 2 + .5px), transparent calc(100% / 3 * 2 - .5px), transparent 100%),
  linear-gradient(to right, transparent 0, transparent calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 - .5px), #CB550EFF calc(100% / 3 + .5px), transparent calc(100% / 3 + .5px), transparent calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 - .5px), #CB550EFF calc(100% / 3 * 2 + .5px), transparent calc(100% / 3 * 2 - .5px), transparent 100%);
}

.cell {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
}

.cell.active {
  background-color: #CB550EFF;
}

.controls {
  padding: 20px 0;
  display: grid;
  gap: 7px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.control {
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, .3);
  background: transparent;
}

.control.active {
  border: none;
  background-color: #CB550EFF;
}

.control .text {
  font-size: 1.7rem;
}

.control .count {
  font-size: .6rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2px;
  line-height: 1;
  text-align: center;
}
